body {
    background: white;
    margin: 0;
}

main {
    padding: 1.5%;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #aaaaaa;
    padding: 10px;
    justify-content: space-evenly;
}
.navbar-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

nav ul.navbar-list li {
    list-style-type: none;
}

nav ul.navbar-list li:hover {
    background-color: lightblue;
}

nav ul.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
