  * {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    line-height: 1.5;
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
  }

  li {
    list-style-type: none;
  }

  .link-hover:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
  }
  
  .link-hover-white:after {
    background-color: #fff;
  }
  .link-hover-black:after {
    background-color: #000;
  }
  
  .link-hover:hover:after {
    width: 100%;
    left: 0;
  }
  
  .wrapper {
    flex: 1;
  }

  .container {
    padding: 15px 0;
  }
  
  .row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .text-purple {
    color: #6030b1;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  
  /* navbar */
  nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
  }
  
  .nav-link {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
  }
  
  .nav-link-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
  }
  
  .nav-link-primary:hover {
    background-color: #5d3eff;
  }
  
  .logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: 1000;
  }
  
  /* ABOUT ME */
  
  #about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .picture-mask {
    width: 70%;
    height: auto;
    overflow: hidden;
    margin-bottom: 28px;
  }
  
  .picture{
    width: 100%;
    transform: scale(1.0);
    padding-top: 8px;
  }
  
  .about-me-title {
    margin-bottom: 16px;
  }
  
  .about-me-para {
    font-size: 20px;
    margin-bottom: 28px;
  }
  
  .about-me-link {
    font-size: 20px;
    font-style: normal;
    color: black;
    border-bottom: 1px solid transparent;
    transition: 450ms ease;
  }

  .about-me-link:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease; 
  }

  .about-me-link:hover:after {
    width: 100%;
    left: 0;
  }

  .about-me-link:link {
    text-decoration: none;
  }
  
  .about-me-img-container {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .about-me-img {
    width: 100%;
  }

  .member-list {
    margin: 20px 30px;
    padding: 32px 30px;
  }

  .team-info {
    overflow-wrap: break-word;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
  }

  .team-list-title {
    text-align: left;
  }

  .team-list {
    margin: 10px;
    border-radius: 20px;
    border: 1px black;
    width: 250px;
    list-style-position: inside;
  }
  .team-items{
    box-sizing: border-box;
    font-size: 20px;
    list-style-type: circle;
    margin: 12px 20 px;

  }

  .team-logo-item {
    margin: 20px;
    padding: 20px;
  }


    /* SPRINTS */
  
  .container-list {
    padding: 15px 0;
  }

  .row-list {
    padding: 10px;
    margin: 10px 10%;
  }
  
  .sprint-title {
    margin: 8px 0;
    padding: 10px;
  }
  .sprint-list {  
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
  }
  .sprint {
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.15);
    margin: 10px;
    border-radius: 20px;
    border: 1px black;
    width: 250px;
  }
  .sprint-list-title {
    margin: 16px 0;
  }

  .sprint-items {
    box-sizing: border-box;
    font-size: 20px;
    list-style-type: circle;
    margin: 12px 32px;
  } 
  
  /* PROJECTS */
  
  .project {
    margin-bottom: 135px;
  }
  
  .project:last-child {
    margin-bottom: 40px;
  }
  
  .project-img {
    width: 100%;
    transition: all 500ms ease;
  }
  
  .project-wrapper {
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
  
  }
  
  
  .project:hover .project-wrapper:before {
    opacity: 0.7;
  }
  
  .project:hover .project-description {
    opacity: 1;
    transform: translateY(-50%);
  }
  
  .project-list {
    padding-top: 40px;
  }
  
  .project-description-title {
    font-size: 40px;
  }
  
  .project-description-para {
    margin: 16px, 0;
  }
  
  .project-description-link {
    font-size: 20px;
    margin-right: 16px;
  }
  
  .project-description-title,
  .project-description-sub-title,
  .project-description-para,
  .project-description-link {
    text-align: left;
    color: #fff;
  }
  
  /* FOOTER */
  
  footer {
    background-color: #3a3a3a;
  }
  
  .footer-social-list {
    margin-bottom: 28px;
    max-width: 500px;
    width: 100%;
    display:flex;
    justify-content: center;
  }
  
  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 0 4% 0;
  }
  
  .footer-logo-image {
    width: 70px;
    height: 70px;
    filter: invert(100%) sepia(12%) saturate(29%) hue-rotate(59deg) brightness(106%) contrast(108%);
  }
  
  .footer-social-link {
    color: #fff;
    margin: 0 50px;
    font-size: 20px;
  }
  .footer-copyright {
    color: #fff;
  }
  
  .footer-logo-popper {
    color: #fff;
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
  }
  
  .footer-anchor {
    margin-bottom: 20px;
    position: relative;
  }
  
  .footer-anchor:hover .footer-logo-popper {
    transform: translateX(60px);
    opacity: 1;
  }

  .icon-link {
    margin-top: 20px;
    color: #fff;
    font-style: normal;
  }
